* {
  border: none;
  border-radius: 0;
  font-family: FiraCode Nerd Font Mono;
}
window#waybar {
  /* background: alpha(#1C3981, 0.6); */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.module {
  margin-left: 5px;
  margin-right: 5px;
}
#custom-power.module {
  margin-right: 10px;
}

#workspaces {
  border-radius: 12px;
  padding: 5px 10px;
  transition: background 0.3s ease-in-out;
}

#workspaces button {
  border-radius: 8px;
  padding: 0px 10px;
  color: white;
  background: transparent;
  transition: background 0.3s;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.7);
}

#workspaces button.active {
  background: rgba(255, 255, 255, 0.3);
}
